.container {
    background-color: rgb(145, 127, 179);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 25px;
}

.container h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: white
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white
}

.container ul li {
    margin-bottom: 0.5rem;
}

.link {
    text-decoration: none;
    color: inherit;
}