body {
    background-image: url('./assets/HD-wallpaper-sudamerica-america-argentina-bolivia-chile-cordilleradelosandes-earth-malvinasargentinas-satelite-uruguay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}