html,
body {
    height: 100%;
}

.pag {
    background-image: url(../../assets/thumb2-3d-political-world-map-4k-blue-brickwall-map-of-world-countries-creative.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.container {   
    max-width: 400px;
    margin: 0 auto;
    
}

.form {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 15px;
    background-color:rgb(229, 190, 236);
    
}

.form h1{
    display: flex;
    justify-content: center;
}

.form label {
    font-weight: bold;
}

.form select,
.form input[type="number"] {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: rgb(183, 153, 255);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button[type="submit"]:hover {
    background-color: #0056b3;
}