.container {
    display: grid;
    background-color: rgb(113, 201, 206);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    margin-right: 15px;
}

.container h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}