 .container {
    display: grid;
    border: 1px solid black;
    width: auto;
    height: 45%;
    margin-left: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: all 0.25s;
}

.link {
    text-decoration: none;
    color: inherit;
}

.divTransform {
   transform: translateY(0px);
}

.img {
    width: 13rem;
    height: 7rem;
    transition: transform 0.3s ease-in-out;
}

.text {
    width: 13rem;
    height: auto;
    font-weight: bold;
    
}

.container:hover{
    transform: scale(1.2);
} 



