.nav {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    margin: 0 5px;
}

.a {
    text-decoration: none;
    color: #fff;
}

.number {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: rgb(158, 48, 48);
}

.number.active {
    background-color: #ccc;
    font-weight: bold;
}