.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url('../../assets/481285.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.div1 {
    grid-area: 1 / 1 / 4 / 4;
}

.div2 {
    grid-area: 1 / 4 / 4 / 7;
}

.div3 {
    grid-area: 4 / 1 / 6 / 7;
}

.img {
    width: 80%;
    height: 80%;
    margin-left: 50px;
    margin-top: 30px;

}

.info {
    background-color: rgba(49, 47, 47, 0.5);
    width: 80%;
    height: 75%;
    margin-top: 50px;
    margin-left: 70px;
    color:white;
    font-family: sans-serif;

    

}